.userpage__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.userpage__container_title {
  gap: 350px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.container__title_name {
  font-size: larger;
  font-weight: 600;
}
.container__title_arrow {
  width: 20px;
  height: 20px;
  rotate: 180deg;
}
.userpage__container_menu {
  position: relative;
  align-items: flex-end;
  display: flex;
  gap: 10px;
}
